.product-card-grid {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 50px;
}
.select-categories {
    margin-left: 30px;
}

@media only screen and (max-width: 700px) {
    .product-card-grid {
        display: grid;
        grid-template-columns: 100%;
        margin: 10px;
    }
}
