.order-button {
    background-color: #0d0d0d;
    color: white;
    border-radius: 35px;
    width: 200px;
    height: 50px;
    margin-bottom: 20px;
}

/*.new-order-form {*/
/*    padding: 10px;*/
/*}*/

/*.wrapper {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    flex-direction: column;*/
/*    width: 100%;*/
/*    min-height: 100%;*/
/*    padding: 20px;*/
/*}*/

/*#formContent {*/
/*    -webkit-border-radius: 10px 10px 10px 10px;*/
/*    border-radius: 10px 10px 10px 10px;*/
/*    background: #fff;*/
/*    padding: 30px;*/
/*    width: 90%;*/
/*    max-width: 900px;*/
/*    position: relative;*/
/*    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);*/
/*    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);*/
/*    text-align: center;*/
/*    height: 500px;*/
/*}*/

.input1 {
    alignment: center !important;
    width: 400px;
    text-align: center;
}

.form-group {
    padding-top: 10px;
}

.container {
    margin-top: 20px;
}

.toggle_radio{
    position: relative;
    /*background: rgba(255,255,255,.1);*/
    background: #1E90FF;
    margin: 4px auto;
    overflow: hidden;
    padding: 0 !important;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    position: relative;
    height: 26px;
    width: 212px;
}
.toggle_radio > * {
    float: left;
}
.toggle_radio input[type=radio]{
    display: none;
    /*position: fixed;*/
}
.toggle_radio label{
    font: 90%/1.618 "Source Sans Pro";
    color: white;
    z-index: 0;
    display: block;
    width: 100px;
    height: 20px;
    margin: 3px 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    cursor: pointer;
    z-index: 1;
    /*background: rgba(0,0,0,.1);*/
    text-align: center;
    /*margin: 0 2px;*/
    /*background: blue;*/ /*make it blue*/
}
.toggle_option_slider{
    /*display: none;*/
    /*background: red;*/
    width: 100px;
    height: 20px;
    position: absolute;
    top: 3px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-transition: all .4s ease;
    -moz-transition: all .4s ease;
    -o-transition: all .4s ease;
    -ms-transition: all .4s ease;
    transition: all .4s ease;
}

#first_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 3px;
}
#second_toggle:checked ~ .toggle_option_slider{
    background: rgba(255,255,255,.3);
    left: 109px;
}
#add-search {
    margin-left: 15px;
}

.popup-content {
    width: 400px !important;
    height: 415px;
}

.wrapper1 {
    text-align: center;
    align-content: center;
    border: 3px solid black;
    padding: 100px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background: #fff;
    padding: 30px;
    width: 200%;
    max-width: 450px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
    text-align: center;
}

